pipeline/pl_BronzeLayerProject1.json
{
	"name": "pl_BronzeLayerProject1",
	"properties": {
		"activities": [
			{
				"name": "GetFoldersFromVM",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_fetchFolders",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FetchLatestFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFoldersFromVM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFoldersFromVM').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "FolderModifiedTimeName",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_fetcheachfoldernametime",
									"type": "DatasetReference",
									"parameters": {
										"folderName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "FolderModifiedTimeName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('FolderModifiedTimeName').output.lastModified,variables('RefDate'))",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LatestFolderName",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "RefDate",
											"value": {
												"value": "@activity('FolderModifiedTimeName').output.lastModified",
												"type": "Expression"
											}
										}
									},
									{
										"name": "LatestFolderTime",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "latestFolder",
											"value": {
												"value": "@activity('FolderModifiedTimeName').output.itemName",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "CopyDataFromonpremToBronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "FetchLatestFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sourcefilesfromlocal",
						"type": "DatasetReference",
						"parameters": {
							"FolderName": {
								"value": "@variables('latestFolder')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_destinationbronzelayer",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"RefDate": {
				"type": "String",
				"defaultValue": "1900-01-01 00:00:00"
			},
			"latestFolder": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-04-20T17:37:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}